* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #5fbcd3;
  color: #444444;
}

h1 {
    color: #FFFFFF;
}

/* Cards */
.posts-box {
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px 10px;
  text-align: center;
  list-style: none;
}

.posts-box li {
  display: inline-block;
  width: 320px;
  max-width: 100%;
  padding: 10px;
  vertical-align: top;
}

.card {
  text-align: left;
  border-radius: 2px;
  background: #FFFFFF;
  box-shadow:
    0 2px 4px rgba(0,0,0,0.10),
    0 1px 2px rgba(0,0,0,0.22);
}

.card img {
  display: block;
  width: 100%;
}

.card img:hover {
    opacity: 0.7;
}

.card div {
  padding: 16px 20px;
  border-bottom: 1px solid #EEEEEE;
}

.card div h3 {
  margin: 8px 0;
  font-size: 1.2em;
}

.card div p {
  margin: 8px 0;
  font-size: .9em;
}

.button {
  color: #FFC107;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
}

.button:hover {
  opacity: .7;
}

/* Page */
.search-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-top: -5px;
}

.message {
    text-align: center;
    padding-top: 30px;
    color: #FFF;
}

@-webkit-keyframes modalbox {
  0% {
    top: -250px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes modalbox {
  0% {
    top: -250px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.disabled {
  opacity: .4;
  cursor: auto;
}

@media (max-width: 620px) {
  button {
    width: 100%;
    min-width: auto;
  }
}
