{% extends "bootstrap/base.html" %}

{% block title %}Busca Imóveis{% endblock title %}

{% block styles %}
    {{super()}}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo_32.png') }}" />

    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
{% endblock styles %}

{% block content %}
    <div class="container">
        <div class="row div col-sm-12 col-md-12">
            {% block main %} {% endblock main %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
{{ analytics }}
<script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('{{ url_for('static', filename='js/sw.js')}}', {scope: '{{ url_for('static', filename='js/')}}'})
            .then(function() { console.log("Service Worker Registered"); });
    }
</script>
{% endblock scripts %}
